body {
  font-family: sans-serif;
  margin: 0 25%;
}
.timer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px dotted black;
  border-radius: 0.5em;
  margin: 2em 0;
  /* box-sizing: border-box; */
}
#timeString {
  font-size: 3em;
  user-select: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.button-container {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
button {
  padding: 0.5em 2em;
  background: rgb(167, 166, 238);
  border: none;
  border-radius: 0.5em;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
